node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sqlite
.DS_Store
.vercel/
*.zip
*.b64
**/node_modules/
**/dist/
**/build/
**/*.sqlite
**/.vercel/
**/.DS_Store
